<% layout('./layouts/boilerplate')  %> 
    <h1>All Spots 🛹</h1>
    <a href="/spots/newSpot">Add New Spot</a>
    <ul>
        <% for (let spot of spots) {%>
            <li><a href="spots/<%=spot._id %>"><%= spot.title %></a></li>
        <% } %> 
    </ul>
